*{font-size:12px/18px; font-family:Tahoma,Verdana,宋体}

html{overflow-x:hidden;OVERFLOW-Y: auto; ; scrollbar-face-color: #DBEBFE; scrollbar-shadow-color: #B8D6FA; scrollbar-highlight-color: #FFFFFF; scrollbar-3dlight-color: #DBEBFE; scrollbar-darkshadow-color:#458CE4; scrollbar-track-color: #FFFFFF; scrollbar-arrow-color: #458CE4;}
a{ color:Black; text-decoration:none;}
a:hover{ color:Red; text-decoration:underline;}

.footer{text-align:center;color:#15428B; margin:0px; padding:0px;line-height:23px; font-weight:bold;}

.head a{color:White;text-decoration:underline;}

.leftMenulist{list-style-type:none;margin:0px; padding:10px;}
.leftMenulist li{ padding:0px;}
.leftMenulist li a{line-height:24px;}
.leftMenulist li div{margin:1px 0px; border:1px dashed #ffffff;}
.leftMenulist li div.hover{border:1px dashed #99BBE8; background:#E0ECFF;cursor:pointer;}
.leftMenulist li div.hover a{color:#416AA3;}
.leftMenulist li div.selected{border:1px solid #99BBE8; background:#E0ECFF;cursor:default;}
.leftMenulist li div.selected a{color:#416AA3; font-weight:bold;}


.third_ul{ list-style-type:none;margin:0px; padding:0px; display:none;}
.third_ul li{ padding-left:20px;}
